@import "tailwindcss";

:root {
  --background: #FBFCEC;
  --primary: #0D530E;
  --beige: #E7E1B1;
  --dark-green: #032804;
  --light-gray: #4D4D4D;
}

body {
  background: var(--background);
  color: var(--dark-green);
}
